<div class="oj-flex">
  <div class="oj-sm-1 oj-md-1 oj-lg-1 oj-flex-item oj-sm-padding-1x-horizontal"></div>
	<div class="oj-sm-10 oj-md-10 oj-lg-10 oj-flex-item oj-sm-padding-2x-horizontal">
		<oj-collapsible class="oj-flex-item oj-sm-12 oj-md-12">
  <oj-conveyor-belt
        class="oj-lg-6 oj-md-9 oj-sm-12 oj-flex-item" 
        data-oj-binding-provider="none" arrow-visibility="auto">
    <oj-navigation-list edge="top" class="navibar" selection="{{ $variables.navigationSelector }}"
      class="oj-navigationlist-item-text-wrap oj-navigationlist-stack-icon-label" >
      <ul>
        <li id="li-Searach">
          <a href="#">
            <p class="oj-must-white navi-tab">Search</p>
          </a>
        </li>
        <li id="li-status">
          <a href="#">
            <p class="oj-must-white navi-tab">Status</p>
          </a>
        </li>
        <li id="li-intStatus">
          <a href="#">
            <p class="oj-must-white navi-tab">Integration</p>
          </a>
        </li>
        <li id="li-report">
          <a href="#">
            <p class="oj-must-white navi-tab">Report</p>
          </a>
        </li>
        <li id="li-manual">
          <a href="#">
            <p class="oj-must-white navi-tab">User Manual</p>
          </a>
        </li>
      </ul>
    </oj-navigation-list>
  </oj-conveyor-belt>
</oj-collapsible>
	</div>
<div class="oj-sm-1 oj-md-1 oj-lg-1 oj-flex-item oj-sm-padding-1x-horizontal"></div>

