/* .oj-messages-general .oj-messages-container, .oj-messages-notification .oj-messages-container {
    margin: 10px;
} */

/* .oj-messages-general .oj-messages-container {
    border-width: 1px;
    border-color: blue;
    border-style: solid;
    border-radius: 1px;
    box-shadow: 1px 1px 3px 0 hsl(0deg 0% 0% / 35%);
} */

/* .oj-message-container {
    width: 250%;
    display: flow-root;
    flex-direction: column;
} */

/* .oj-messages-general .oj-messages-container {
    border-width: 1px;
    border-color: red;
    border-style: solid;
    border-radius: 1px;
    box-shadow: 1px 1px 3px 0 hsl(0deg 0% 0% / 35%);
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin: auto;
    width: max-content;
} */

.oj-messages-layer{
    width: 400px;
}
